body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  .max-w-lg {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .max-w-lg {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .max-w-lg {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .max-w-lg {
    max-width: 1280px;
  }
}
.large-btn{
  width: 100%;
  background: #1da57a;
}

.ant-btn{
  color: #fff;
  background: #1da57a;
}

.edit-btn{
  background: #3db389;
}

.remove-btn{
  background: #FF3333;
}

.button-green:hover{
  color: #fff;
  border-color: #3db389;
  background: #3db389;
}
span  {
  font-size: 14px;
}

a {
  color: #1da57a;
  font-size: 14px;
}
/* -----------CSSroom-------------- */
.container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.room-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;  

}

.room-item {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

ul.roomHiden li{
  max-width: 524px;
  overflow: hidden;
}

ul.roomHiden li img{
  max-width: 100%;
  transition: transform 1.8s ease;
}
ul.roomHiden li:hover img{
  transform: scale(1.5);
}


.room-info {
  padding: 10px;

}

.room-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.room-type {
  margin: 10px 0;
  font-size: 1rem;
}

.room-price {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: bold;
}

.btn-book {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #18e756;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
