body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  .max-w-lg {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .max-w-lg {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .max-w-lg {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .max-w-lg {
    max-width: 1280px;
  }
}

.large-btn{
  width: 100%;
  background: #1da57a;
}

.ant-btn{
  color: #fff;
  background: #1da57a;
}

.edit-btn{
  background: #3db389;
}

.remove-btn{
  background: #FF3333;
}

.button-green:hover{
  color: #fff;
  border-color: #3db389;
  background: #3db389;
}
span  {
  font-size: 14px;
}

a {
  color: #1da57a;
  font-size: 14px;
}

.google_btn {
  width: 230px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 20px 0;
  color: #2c444e;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.google_btn > img{
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.google_btn > span{
  margin-left: 10px;
}